.post{
    margin: 10px;
}

.post__img{
    background-color: grey;
    width: 200px;
    height: 120px;
}

.post__body{
    width: 200px;
}


.post__body>h4{
    color: rgb(41, 98, 202);
    text-align: center;
}

.post__body>h5{
    color: rgb(177, 100, 100);
}